In [30]:
import pandas as pd
from sqlalchemy import create_engine

In [32]:
pd.read_sql(sqlite, con, index_col=None, coerce_float=True, params=None, parse_dates=None, columns=None, chunksize=None)['sqlite:///track_metadata.db']

NameError: name 'sqlite' is not defined

In [19]:
engine2 = create_engine('sqlite:///track_metadata.db')
connection2 = engine2.connect()
dataid = 1022
resoverall = connection2.execute(table1.select())

NameError: name 'table1' is not defined

In [13]:
df = pd.DataFrame(resoverall.fetchall())
df.columns = resoverall.keys()

NameError: name 'df_converted' is not defined

In [ ]:
pd.post_sql()